.tf{
    font-size: 20px;
    text-indent: 3pc;
}

.subtitle{
    text-decoration: underline;
}

.container_2 div p{
    text-indent: 3pc;
    text-align: justify;
    font-size: 20px;
    font-family: Helvetica;
}